
h1, .jumbotron {
	text-align: center;
	font-family:'Bangers', cursive;
	color: rgb(14, 35, 224);
}


.jumbotron {
	background-image: url("../images/holy_cow.jpg");
}



body {
	font-family: 'Bangers', cursive;
  text-align: center;
}


.button { 
  color: #26e2c3c2; 
  background-color: rgb(51, 222, 245); 
  border-color: rgb(17, 211, 195); 
} 
